

.priceAndCount{
    display: flex;
    justify-content: space-between;
}

.cardImg {
    height: 200px;
}

.card {
    max-height: 360px;
    width: 350px;
    margin: 15px;
    transition: transform;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.cardBody {
    background-color: #FAF5F1;
}

.card:hover{
    transform: scale(103%);
    box-shadow: 3px 7px 15px rgb(88, 88, 88);
}


.price {
    font-size: 20px;
    font-style:italic;
}